body{
    background-color: rgb(29, 29, 29);
    
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

p{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
