@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #F2E2CE, #BF6B63);
}

p{
    text-align: justify;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(122, 68, 63, 0.726);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #F2B263;
    text-align: center;
    text-align: center;
    text-shadow: 1px 1px 2px #b9884bdc;
}

h2{
    color: #F2CF63;
    text-align: center;
    text-align: center;
    text-shadow: 1px 1px 2px #927c3aa2;
}